@font-face {
    font-family: 'Fort Foundry - Rift-Regular';
    src: url('../fonts/Rift/Fort\ Foundry\ -\ Rift-Regular.otf');

}

@font-face {
    font-family: 'Fort Foundry - Rift-Bold';
    src: url('../fonts/Rift/Fort\ Foundry\ -\ Rift-Bold.otf');
}
@font-face {
    font-family: 'Fort Foundry - Rift-Light';
    src: url('../fonts/Rift/Fort\ Foundry\ -\ Rift-Light.otf');
}
@font-face {
    font-family: 'Fort Foundry - Rift-Medium';
    src: url('../fonts/Rift/Fort\ Foundry\ -\ Rift-Medium.otf');
}