// colors
$primary-color: #01c7b1;
$white: #fff;
$black: #000000;
$grey: #dee2e6;

// font family

$font-regular: 'Fort Foundry - Rift-Regular';
$font-bold: 'Fort Foundry - Rift-Bold';
$font-light: 'Fort Foundry - Rift-Light';
$font-medium: 'Fort Foundry - Rift-Medium';

